In [1]:
import pandas as pd

## Getting data from FDIC
Failed Bank List:  https://www.fdic.gov/bank/individual/failed/banklist.html

In [3]:
df = pd.read_html("https://www.fdic.gov/bank/individual/failed/banklist.html")

In [4]:
df = df[0]

## First Contact with the dataset
Shape, Columns, Data types, Head, Tail

In [8]:
df.shape

(556, 7)

In [9]:
df.columns

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')

In [10]:
df.dtypes

Bank Name                object
City                     object
ST                       object
CERT                      int64
Acquiring Institution    object
Closing Date             object
Updated Date             object
dtype: object

In [11]:
df.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.","May 31, 2019","August 22, 2019"
1,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,"December 15, 2017","July 24, 2019"
2,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,"October 13, 2017","August 12, 2019"
3,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb","May 26, 2017","January 29, 2019"
4,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,"May 5, 2017","March 22, 2018"

In [12]:
df.tail()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
551,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001","August 19, 2014"
552,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001","November 18, 2002"
553,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001","February 18, 2003"
554,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000","March 17, 2005"
555,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000","March 17, 2005"

### How many States are represented in this Dataset?

In [14]:
len(df["ST"].unique())

44

### Getting an array of all the different states

In [15]:
df["ST"].unique()

array(['TX', 'IL', 'KS', 'WI', 'LA', 'UT', 'NJ', 'AR', 'GA', 'PA', 'TN',
       'WA', 'CO', 'PR', 'FL', 'MN', 'CA', 'MD', 'OK', 'OH', 'SC', 'VA',
       'ID', 'CT', 'AZ', 'NV', 'NC', 'KY', 'MO', 'AL', 'MI', 'IN', 'IA',
       'NE', 'MS', 'NM', 'OR', 'NY', 'MA', 'SD', 'WY', 'WV', 'NH', 'HI'],
      dtype=object)

### What are the top 5 states with most failed banks?

In [17]:
df["ST"].value_counts()[:5]

GA    93
FL    75
IL    69
CA    41
MN    23
Name: ST, dtype: int64

#### In percentage

In [25]:
df["ST"].value_counts(normalize = True)[:5]*100

GA    16.726619
FL    13.489209
IL    12.410072
CA     7.374101
MN     4.136691
Name: ST, dtype: float64

### What are the top 5 Acquiring Institutions?

In [28]:
df["Acquiring Institution"].value_counts()[:5]

No Acquirer                            31
State Bank and Trust Company           12
First-Citizens Bank & Trust Company    11
Ameris Bank                            10
U.S. Bank N.A.                          9
Name: Acquiring Institution, dtype: int64

### How many banks were acquired by the State Bank of Texas?

In [29]:
df[df["Acquiring Institution"] == "State Bank of Texas"]

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
7,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,"January 27, 2017","January 29, 2019"
24,The National Republic Bank of Chicago,Chicago,IL,916,State Bank of Texas,"October 24, 2014","January 6, 2016"
453,Millennium State Bank of Texas,Dallas,TX,57667,State Bank of Texas,"July 2, 2009","October 26, 2012"

### What is the most common city in California for a bank to fail in?

In [37]:
df[df["ST"] == "CA"]["City"].value_counts()

Los Angeles         4
San Francisco       2
San Diego           2
La Jolla            2
Palm Desert         2
Newport Beach       2
Palm Springs        1
Bakersfield         1
Redlands            1
Calabasas           1
Napa                1
Solvang             1
San Rafael          1
Santa Monica        1
Culver City         1
Torrance            1
Sonoma              1
San Clemente        1
Merced              1
Westminster         1
Woodland Hills      1
Irvine              1
Pomona              1
Ventura             1
Stockton            1
San Luis Obispo     1
Temecula            1
Oakland             1
Pasadena            1
Granite Bay         1
Rancho Cucamonga    1
Nevada City         1
Chico               1
Name: City, dtype: int64

### How many failed banks don't have the word "Bank" in their name?

In [40]:
df[df["Bank Name"].apply(lambda name: "Bank" not in name)]

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
25,NBRS Financial,Rising Sun,MD,4862,Howard Bank,"October 17, 2014","January 29, 2019"
77,Second Federal Savings and Loan Association of...,Chicago,IL,27986,Hinsdale Bank & Trust Company,"July 20, 2012","January 3, 2018"
104,Home Savings of America,Little Falls,MN,29178,No Acquirer,"February 24, 2012","January 29, 2019"
225,"First Arizona Savings, A FSB",Scottsdale,AZ,32582,No Acquirer,"October 22, 2010","January 29, 2019"
251,Imperial Savings and Loan Association,Martinsville,VA,31623,"River Community Bank, N.A.","August 20, 2010","January 29, 2019"
303,CF Bancorp,Port Huron,MI,30005,First Michigan Bank,"April 30, 2010","January 31, 2019"
304,Westernbank Puerto Rico En Español,Mayaguez,PR,31027,Banco Popular de Puerto Rico,"April 30, 2010","January 31, 2019"
306,Eurobank En Español,San Juan,PR,27150,Oriental Bank and Trust,"April 30, 2010","January 31, 2019"
426,ebank,Atlanta,GA,34682,"Stearns Bank, N.A.","August 21, 2009","February 1, 2019"
431,Dwelling House Savings and Loan Association,Pittsburgh,PA,31559,"PNC Bank, N.A.","August 14, 2009","February 1, 2019"
499,Suburban FSB,Crofton,MD,30763,Bank of Essex,"January 30, 2009","February 4, 2016"
508,Downey Savings & Loan,Newport Beach,CA,30968,"U.S. Bank, N.A.","November 21, 2008","February 1, 2019"
517,Ameribank,Northfork,WV,6782,The Citizens Savings Bank Pioneer Community B...,"September 19, 2008","September 21, 2015"
526,"ANB Financial, NA",Bentonville,AR,33901,Pulaski Bank and Trust Company,"May 9, 2008","February 1, 2019"

In [41]:
len(df[df["Bank Name"].apply(lambda name: "Bank" not in name)])

14

### How many FDIC certificate numbers are above 20000?

In [42]:
df[df["CERT"]>20000]

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
1,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,"December 15, 2017","July 24, 2019"
4,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,"May 5, 2017","March 22, 2018"
5,First NBC Bank,New Orleans,LA,58302,Whitney Bank,"April 28, 2017","January 29, 2019"
6,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,"March 3, 2017","January 29, 2019"
8,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,"January 13, 2017","September 20, 2019"
11,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","November 13, 2018"
13,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","January 29, 2019"
14,Hometown National Bank,Longview,WA,35156,Twin City Bank,"October 2, 2015","February 19, 2018"
15,The Bank of Georgia,Peachtree City,GA,35259,Fidelity Bank,"October 2, 2015","July 9, 2018"
16,Premier Bank,Denver,CO,34112,"United Fidelity Bank, fsb","July 10, 2015","February 20, 2018"
17,Edgebrook Bank,Chicago,IL,57772,Republic Bank of Chicago,"May 8, 2015","January 29, 2019"
18,Doral Bank En Español,San Juan,PR,32102,Banco Popular de Puerto Rico,"February 27, 2015","January 29, 2019"
19,Capitol City Bank & Trust Company,Atlanta,GA,33938,First-Citizens Bank & Trust Company,"February 13, 2015","January 29, 2019"
20,Highland Community Bank,Chicago,IL,20290,"United Fidelity Bank, fsb","January 23, 2015","November 15, 2017"
22,Northern Star Bank,Mankato,MN,34983,BankVista,"December 19, 2014","January 3, 2018"
23,"Frontier Bank, FSB D/B/A El Paseo Bank",Palm Desert,CA,34738,"Bank of Southern California, N.A.","November 7, 2014","November 10, 2016"
26,"GreenChoice Bank, fsb",Chicago,IL,28462,"Providence Bank, LLC","July 25, 2014","December 12, 2016"
27,Eastside Commercial Bank,Conyers,GA,58125,Community & Southern Bank,"July 18, 2014","October 6, 2017"
29,Valley Bank,Fort Lauderdale,FL,21793,"Landmark Bank, National Association","June 20, 2014","January 29, 2019"
31,Slavie Federal Savings Bank,Bel Air,MD,32368,"Bay Bank, FSB","May 30, 2014","December 12, 2016"
32,Columbia Savings Bank,Cincinnati,OH,32284,"United Fidelity Bank, fsb","May 23, 2014","November 10, 2016"
33,AztecAmerica Bank En Español,Berwyn,IL,57866,Republic Bank of Chicago,"May 16, 2014","October 20, 2016"
35,Vantage Point Bank,Horsham,PA,58531,First Choice Bank,"February 28, 2014","January 7, 2018"
36,"Millennium Bank, National Association",Sterling,VA,35096,WashingtonFirst Bank,"February 28, 2014","July 10, 2018"
37,Syringa Bank,Boise,ID,34296,Sunwest Bank,"January 31, 2014","April 12, 2016"
40,"Texas Community Bank, National Association",The Woodlands,TX,57431,"Spirit of Texas Bank, SSB","December 13, 2013","February 13, 2018"
43,The Community's Bank,Bridgeport,CT,57041,No Acquirer,"September 13, 2013","December 7, 2015"
44,Sunrise Bank of Arizona,Phoenix,AZ,34707,"First Fidelity Bank, National Association","August 23, 2013","May 3, 2017"
46,Bank of Wausau,Wausau,WI,35016,Nicolet National Bank,"August 9, 2013","February 21, 2018"
47,First Community Bank of Southwest Florida (als...,Fort Myers,FL,34943,C1 Bank,"August 2, 2013","February 9, 2017"
...,...,...,...,...,...,...,...
513,Alpha Bank & Trust,Alpharetta,GA,58241,"Stearns Bank, N.A.","October 24, 2008","February 1, 2019"
515,Main Street Bank,Northville,MI,57654,Monroe Bank & Trust,"October 10, 2008","August 1, 2013"
516,Washington Mutual Bank (Including its subsidi...,Henderson,NV,32633,JP Morgan Chase Bank,"September 25, 2008","April 15, 2019"
518,Silver State Bank En Español,Henderson,NV,34194,Nevada State Bank,"September 5, 2008","February 1, 2019"
519,Integrity Bank,Alpharetta,GA,35469,Regions Bank,"August 29, 2008","January 31, 2019"
520,Columbian Bank & Trust,Topeka,KS,22728,Citizens Bank & Trust,"August 22, 2008","January 31, 2019"
521,First Priority Bank,Bradenton,FL,57523,SunTrust Bank,"August 1, 2008","December 12, 2016"
522,"First Heritage Bank, NA",Newport Beach,CA,57961,Mutual of Omaha Bank,"July 25, 2008","September 12, 2016"
523,First National Bank of Nevada,Reno,NV,27011,Mutual of Omaha Bank,"July 25, 2008","January 31, 2019"
524,IndyMac Bank,Pasadena,CA,29730,"OneWest Bank, FSB","July 11, 2008","February 1, 2019"
526,"ANB Financial, NA",Bentonville,AR,33901,Pulaski Bank and Trust Company,"May 9, 2008","February 1, 2019"
528,Douglass National Bank,Kansas City,MO,24660,Liberty Bank and Trust Company,"January 25, 2008","October 26, 2012"
530,NetBank,Alpharetta,GA,32575,ING DIRECT,"September 28, 2007","January 31, 2019"
531,Metropolitan Savings Bank,Pittsburgh,PA,35353,Allegheny Valley Bank of Pittsburgh,"February 2, 2007","October 27, 2010"
533,Reliance Bank,White Plains,NY,26778,Union State Bank,"March 19, 2004","April 9, 2008"
534,Guaranty National Bank of Tallahassee,Tallahassee,FL,26838,Hancock Bank of Florida,"March 12, 2004","April 17, 2018"
535,Dollar Savings Bank,Newark,NJ,31330,No Acquirer,"February 14, 2004","April 9, 2008"
536,Pulaski Savings Bank,Philadelphia,PA,27203,Earthstar Bank,"November 14, 2003","October 6, 2017"
538,Southern Pacific Bank,Torrance,CA,27094,Beal Bank,"February 7, 2003","October 20, 2008"
541,AmTrade International Bank En Español,Atlanta,GA,33784,No Acquirer,"September 30, 2002","September 11, 2006"
542,Universal Federal Savings Bank,Chicago,IL,29355,Chicago Community Bank,"June 27, 2002","October 6, 2017"
544,New Century Bank,Shelby Township,MI,34979,No Acquirer,"March 28, 2002","March 18, 2005"
545,Net 1st National Bank,Boca Raton,FL,26652,Bank Leumi USA,"March 1, 2002","April 9, 2008"
546,"NextBank, NA",Phoenix,AZ,22314,No Acquirer,"February 7, 2002","February 5, 2015"
548,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,"January 18, 2002","November 6, 2003"
549,"Hamilton Bank, NA En Español",Miami,FL,24382,Israel Discount Bank of New York,"January 11, 2002","September 21, 2015"
550,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,"September 7, 2001","October 6, 2017"
551,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001","August 19, 2014"
553,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001","February 18, 2003"
555,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000","March 17, 2005"

In [45]:
len(df[df["CERT"]>20000])

420

### How many banks names consist of just two words?

In [44]:
df[df["Bank Name"].apply(lambda names: len(names.split()) == 2)]

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
6,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,"March 3, 2017","January 29, 2019"
9,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","May 13, 2019"
16,Premier Bank,Denver,CO,34112,"United Fidelity Bank, fsb","July 10, 2015","February 20, 2018"
17,Edgebrook Bank,Chicago,IL,57772,Republic Bank of Chicago,"May 8, 2015","January 29, 2019"
25,NBRS Financial,Rising Sun,MD,4862,Howard Bank,"October 17, 2014","January 29, 2019"
29,Valley Bank,Fort Lauderdale,FL,21793,"Landmark Bank, National Association","June 20, 2014","January 29, 2019"
30,Valley Bank,Moline,IL,10450,Great Southern Bank,"June 20, 2014","January 29, 2019"
37,Syringa Bank,Boise,ID,34296,Sunwest Bank,"January 31, 2014","April 12, 2016"
52,Sunrise Bank,Valdosta,GA,58185,Synovus Bank,"May 10, 2013","January 29, 2019"
55,Parkway Bank,Lenoir,NC,57158,"CertusBank, National Association","April 26, 2013","October 6, 2017"
60,Frontier Bank,LaGrange,GA,16431,HeritageBank of the South,"March 8, 2013","November 13, 2017"
61,Covenant Bank,Chicago,IL,22476,Liberty Bank and Trust Company,"February 15, 2013","September 21, 2015"
68,NOVA Bank,Berwyn,PA,27148,No Acquirer,"October 26, 2012","January 29, 2019"
69,Excel Bank,Sedalia,MO,19189,Simmons First National Bank,"October 19, 2012","August 7, 2018"
73,Truman Bank,St. Louis,MO,27316,Simmons First National Bank,"September 14, 2012","December 11, 2018"
78,Heartland Bank,Leawood,KS,1361,Metcalf Bank,"July 20, 2012","January 29, 2019"
87,Waccamaw Bank,Whiteville,NC,34515,First Community Bank,"June 8, 2012","January 29, 2019"
99,Fidelity Bank,Dearborn,MI,33883,The Huntington National Bank,"March 30, 2012","July 10, 2018"
100,Premier Bank,Wilmette,IL,35419,International Bank of Chicago,"March 23, 2012","January 29, 2019"
106,SCB Bank,Shelbyville,IN,29761,"First Merchants Bank, National Association","February 10, 2012","January 29, 2019"
120,SunFirst Bank,Saint George,UT,57087,Cache Valley Bank,"November 4, 2011","August 9, 2017"
127,Country Bank,Aledo,IL,35395,Blackhawk Bank & Trust,"October 14, 2011","January 29, 2019"
132,The RiverBank,Wyoming,MN,10216,Central Bank,"October 7, 2011","May 9, 2018"
137,CreekSide Bank,Woodstock,GA,58226,Georgia Commerce Bank,"September 2, 2011","June 23, 2017"
147,"BankMeridian, N.A.",Columbia,SC,58222,SCBT National Association,"July 29, 2011","January 29, 2019"
152,Summit Bank,Prescott,AZ,57442,The Foothills Bank,"July 15, 2011","August 19, 2014"
156,Signature Bank,Windsor,CO,57835,Points West Community Bank,"July 8, 2011","October 26, 2012"
164,Summit Bank,Burlington,WA,513,Columbia State Bank,"May 20, 2011","October 23, 2017"
167,Coastal Bank,Cocoa Beach,FL,34898,"Florida Community Bank, a division of Premier ...","May 6, 2011","September 21, 2015"
175,Superior Bank,Birmingham,AL,17750,"Superior Bank, National Association","April 15, 2011","January 29, 2019"
...,...,...,...,...,...,...,...
420,Affinity Bank,Ventura,CA,27197,Pacific Western Bank,"August 28, 2009","February 1, 2019"
421,Mainstreet Bank,Forest Lake,MN,1909,Central Bank,"August 28, 2009","February 21, 2018"
422,Bradford Bank,Baltimore,MD,28312,Manufacturers and Traders Trust Company (M&T B...,"August 28, 2009","February 1, 2019"
423,Guaranty Bank,Austin,TX,32618,BBVA Compass,"August 21, 2009","February 1, 2019"
424,CapitalSouth Bank,Birmingham,AL,22130,IBERIABANK,"August 21, 2009","February 20, 2018"
430,Colonial Bank,Montgomery,AL,9609,"Branch Banking & Trust Company, (BB&T)","August 14, 2009","February 1, 2019"
435,Mutual Bank,Harvey,IL,18659,United Central Bank,"July 31, 2009","February 1, 2019"
436,First BankAmericano,Elizabeth,NJ,34270,Crown Bank,"July 31, 2009","February 1, 2019"
438,Integrity Bank,Jupiter,FL,57604,Stonegate Bank,"July 31, 2009","January 31, 2019"
448,Vineyard Bank,Rancho Cucamonga,CA,23556,California Bank & Trust,"July 17, 2009","September 14, 2018"
452,Founders Bank,Worth,IL,18390,The PrivateBank and Trust Company,"July 2, 2009","January 31, 2019"
459,Mirae Bank,Los Angeles,CA,57332,Wilshire State Bank,"June 26, 2009","February 21, 2018"
460,MetroPacific Bank,Irvine,CA,57893,Sunwest Bank,"June 26, 2009","February 5, 2015"
461,Horizon Bank,Pine City,MN,9744,"Stearns Bank, N.A.","June 26, 2009","February 5, 2015"
465,Cooperative Bank,Wilmington,NC,27837,First Bank,"June 19, 2009","March 12, 2018"
470,"BankUnited, FSB",Coral Gables,FL,32247,BankUnited,"May 21, 2009","February 1, 2019"
471,Westsound Bank,Bremerton,WA,34843,Kitsap Bank,"May 8, 2009","February 1, 2019"
484,"TeamBank, NA",Paola,KS,4754,Great Southern Bank,"March 20, 2009","September 12, 2016"
486,FirstCity Bank,Stockbridge,GA,18243,No Acquirer,"March 20, 2009","February 1, 2019"
495,County Bank,Merced,CA,22574,Westamerica Bank,"February 6, 2009","September 16, 2019"
496,Alliance Bank,Culver City,CA,23124,California Bank & Trust,"February 6, 2009","August 8, 2018"
499,Suburban FSB,Crofton,MD,30763,Bank of Essex,"January 30, 2009","February 4, 2016"
509,Community Bank,Loganville,GA,16490,Bank of Essex,"November 21, 2008","January 31, 2019"
512,Freedom Bank,Bradenton,FL,57930,Fifth Third Bank,"October 31, 2008","January 31, 2019"
514,Meridian Bank,Eldred,IL,13789,National Bank,"October 10, 2008","May 31, 2012"
519,Integrity Bank,Alpharetta,GA,35469,Regions Bank,"August 29, 2008","January 31, 2019"
524,IndyMac Bank,Pasadena,CA,29730,"OneWest Bank, FSB","July 11, 2008","February 1, 2019"
527,Hume Bank,Hume,MO,1971,Security Bank,"March 7, 2008","January 31, 2019"
533,Reliance Bank,White Plains,NY,26778,Union State Bank,"March 19, 2004","April 9, 2008"
546,"NextBank, NA",Phoenix,AZ,22314,No Acquirer,"February 7, 2002","February 5, 2015"

In [46]:
len(df[df["Bank Name"].apply(lambda names: len(names.split()) == 2)])

112

### How many banks closed in 2008?

In [50]:
df["Closing Date"] = pd.to_datetime(df["Closing Date"])

In [54]:
df[df["Closing Date"].dt.year == 2008]

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
504,Sanderson State Bank En Español,Sanderson,TX,11568,The Pecos County State Bank,2008-12-12,"January 31, 2019"
505,Haven Trust Bank,Duluth,GA,35379,"Branch Banking & Trust Company, (BB&T)",2008-12-12,"February 1, 2019"
506,First Georgia Community Bank,Jackson,GA,34301,United Bank,2008-12-05,"January 31, 2019"
507,PFF Bank & Trust,Pomona,CA,28344,"U.S. Bank, N.A.",2008-11-21,"January 31, 2019"
508,Downey Savings & Loan,Newport Beach,CA,30968,"U.S. Bank, N.A.",2008-11-21,"February 1, 2019"
509,Community Bank,Loganville,GA,16490,Bank of Essex,2008-11-21,"January 31, 2019"
510,Security Pacific Bank,Los Angeles,CA,23595,Pacific Western Bank,2008-11-07,"February 1, 2019"
511,"Franklin Bank, SSB",Houston,TX,26870,Prosperity Bank,2008-11-07,"January 31, 2019"
512,Freedom Bank,Bradenton,FL,57930,Fifth Third Bank,2008-10-31,"January 31, 2019"
513,Alpha Bank & Trust,Alpharetta,GA,58241,"Stearns Bank, N.A.",2008-10-24,"February 1, 2019"
514,Meridian Bank,Eldred,IL,13789,National Bank,2008-10-10,"May 31, 2012"
515,Main Street Bank,Northville,MI,57654,Monroe Bank & Trust,2008-10-10,"August 1, 2013"
516,Washington Mutual Bank (Including its subsidi...,Henderson,NV,32633,JP Morgan Chase Bank,2008-09-25,"April 15, 2019"
517,Ameribank,Northfork,WV,6782,The Citizens Savings Bank Pioneer Community B...,2008-09-19,"September 21, 2015"
518,Silver State Bank En Español,Henderson,NV,34194,Nevada State Bank,2008-09-05,"February 1, 2019"
519,Integrity Bank,Alpharetta,GA,35469,Regions Bank,2008-08-29,"January 31, 2019"
520,Columbian Bank & Trust,Topeka,KS,22728,Citizens Bank & Trust,2008-08-22,"January 31, 2019"
521,First Priority Bank,Bradenton,FL,57523,SunTrust Bank,2008-08-01,"December 12, 2016"
522,"First Heritage Bank, NA",Newport Beach,CA,57961,Mutual of Omaha Bank,2008-07-25,"September 12, 2016"
523,First National Bank of Nevada,Reno,NV,27011,Mutual of Omaha Bank,2008-07-25,"January 31, 2019"
524,IndyMac Bank,Pasadena,CA,29730,"OneWest Bank, FSB",2008-07-11,"February 1, 2019"
525,"First Integrity Bank, NA",Staples,MN,12736,First International Bank and Trust,2008-05-30,"October 20, 2016"
526,"ANB Financial, NA",Bentonville,AR,33901,Pulaski Bank and Trust Company,2008-05-09,"February 1, 2019"
527,Hume Bank,Hume,MO,1971,Security Bank,2008-03-07,"January 31, 2019"
528,Douglass National Bank,Kansas City,MO,24660,Liberty Bank and Trust Company,2008-01-25,"October 26, 2012"

In [55]:
len(df[df["Closing Date"].dt.year == 2008])

25